language: c

sudo: required
dist: trusty

addons:
  apt:
    packages:
      - bison
      - build-essential
      - cmake
      - doxygen
      - flex
      - git
      - libbison-dev
      - libcunit1-dev
      - libglib2.0-dev
      - libjson-c-dev
      - libjson-glib-dev
      - libssl-dev
      - libvirt-dev
      - libxc-dev
      - libxen-dev
      - libxenstore3.0
      - libyajl-dev
      - python
      - python-pip
      - python3

before_install:
  - git clone https://github.com/libvmi/libvmi.git $HOME/libvmi
  - mkdir $HOME/libvmi/build
  - cd $HOME/libvmi/build && cmake ..
  - cd $HOME/libvmi/build && make
  - cd $HOME/libvmi/build && sudo make install
  - sudo pip install rekall-core rekall

matrix:
  include:

    - os: linux
      env:
        - TEST="Make"
      script:
        - cd $TRAVIS_BUILD_DIR
        - make
        - make tools
        - make debug

    - os: linux
      env:
        - TEST="Astyle"
      script:
        - cd $TRAVIS_BUILD_DIR
        - if [[ -n $(./tools/astyle/run.sh | grep Formatted) ]]; then echo "You must run astyle before submitting a pull request"; exit -1; fi

    - os: linux
      env:
        - TEST="CUnit"
      script:
        - cd $TRAVIS_BUILD_DIR
        - make test
        - ./test/unit

    - os: linux
      env:
        - TEST="Agent"
      script:
        - cd ${TRAVIS_BUILD_DIR}/agent
        - python2 server.py -h
        - python3 server.py -h
