language: c

sudo: required
dist: bionic

addons:
  apt:
    packages:
      - bison
      - build-essential
      - doxygen
      - flex
      - libbison-dev
      - libcunit1-dev
      - libglib2.0-dev
      - libjson-c-dev
      - libjson-glib-dev
      - libssl-dev
      - libvirt-dev
      - libxc-dev
      - libxen-dev
      - libxenstore3.0
      - libyajl-dev

before_install:
  - git clone https://github.com/libvmi/libvmi.git $HOME/libvmi
  - mkdir $HOME/libvmi/build
  - cd $HOME/libvmi/build && cmake ..
  - cd $HOME/libvmi/build && make
  - cd $HOME/libvmi/build && sudo make install

matrix:
  include:

    - os: linux
      env:
        - TEST="Astyle"
      script:
        - cd $TRAVIS_BUILD_DIR
        - if [[ -n $(./tools/astyle/run.sh | grep Formatted) ]]; then echo "You must run astyle before submitting a pull request"; exit -1; fi

    - os: linux
      env:
        - TEST="CUnit"
      script:
        - cd $TRAVIS_BUILD_DIR
        - make
        - make test
        - ./bin/unit_tests

    - os: linux
      env:
        - TEST="Make"
      script:
        - cd $TRAVIS_BUILD_DIR
        - make
        - make tools
        - make debug

    - os: linux
      env:
        - TEST="Agent"
      script:
        - cd ${TRAVIS_BUILD_DIR}/agent
        - sudo pip install -Ur requirements.txt
        - python server.py --help
